<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">

<head>
    <title>Proto</title>
    <link rel="shortcut icon" th:href="@{/images/logo.png}" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="../../static/css/vendors/bootstrap5/bootstrap.min.css"
        th:href="@{/css/vendors/bootstrap5/bootstrap.min.css}" />
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" type="text/css" href="../../static/css/vendors/bootstrap5/bootstrap-icons.css"
        th:href="@{/css/vendors/bootstrap5/bootstrap-icons.css}" />

    <!-- AlertifyJS -->
    <link rel="stylesheet" type="text/css" href="../../static/css/vendors/alertifyjs/alertify.min.css"
        th:href="@{/css/vendors/alertifyjs/alertify.min.css}" />
    <link rel="stylesheet" type="text/css" href="../../static/css/vendors/alertifyjs/bootstrap.min.css"
        th:href="@{/css/vendors/alertifyjs/bootstrap.min.css}" />

</head>

<body>
    <header th:replace="~{layout/fragments/header}"></header>

    <div class="container">
        <div layout:fragment="content"></div>
    </div>

    <footer th:replace="~{layout/fragments/footer}"></footer>

    <!-- Bootstrap JS -->
    <script src="../../static/js/vendors/bootstrap5/bootstrap.bundle.min.js"
        th:src="@{/js/vendors/bootstrap5/bootstrap.bundle.min.js}"></script>
    
    <!-- AlertifyJS -->
    <script src="../../static/js/vendors/alertifyjs/alertify.min.js"
        th:src="@{/js/vendors/alertifyjs/alertify.min.js}"></script>

</body>

</html>