<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid d-flex">
                <a class="navbar-brand" th:href="@{/}">Proto</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/api/projects">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Search</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/api/associates">Associates</a>
                        </li>
                    </ul>
                </div>
                <div class="d-flex justify-content-end align-items-center">

                    <div sec:authorize="!isAuthenticated()">
                        <!-- botao login -->
                        <form action="#" th:action="@{/login}" method="post">
                            <input type="submit" class="form-control btn btn-primary" value="Login" />
                        </form>
                    </div>

                    <div sec:authorize="isAuthenticated()">
                        <!-- nome do usuario -->
                        <div class="ms-3 d-none d-sm-block">
                            <a class="navbar-brand" href="#">
                                <span sec:authentication="principal.username" class="navbar-text text-white">
                                    <i class="bi bi-person-fill ms-2"></i>
                                </span>
                            </a>
                        </div>
                    </div>

                    <div sec:authorize="isAuthenticated()">
                        <!-- botao logout -->
                        <form action="#" th:action="@{/logout}" method="post">
                            <input type="submit" class="form-control btn btn-primary" value="Logout" />
                        </form>
                    </div>

                </div>
            </div>
        </nav>
    </header>
</body>

</html>