<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
	<body>
		<!-- offcanvas sidebar -->
		<div
			class="offcanvas offcanvas-start bg-dark text-white sidebar-nav"
			tabindex="-1"
			id="sidebar"
			th:fragment="sidebar (option)">
			<div class="offcanvas-body">
				<nav class="navbar-dark">
					<ul class="navbar-nav">
						<li class="my-2">
							<hr class="dropdown-toggle-split" />
						</li>

						<!-- 1o elemento -->
						<li>
							<a
								th:href="@{/projects}"
								class="nav-link px-3 sidebar-link text-white"
								data-bs-toggle="collapse">
								<span class="me-2">
									<i class="bi bi-journal-bookmark"></i>
								</span>
								<span>Projetos</span>
							</a>
						</li>

						<!-- 2o elemento -->
						<li>
							<a
								th:href="@{/search}"
								class="nav-link px-3 sidebar-link text-white"
								data-bs-toggle="collapse">
								<span class="me-2">
									<i class="bi bi-search"></i>
								</span>
								<span>Search</span>
							</a>
						</li>

						<!-- 3o elemento -->
						<li>
							<a
								th:href="@{/ranking}"
								class="nav-link px-3 sidebar-link text-white"
								data-bs-toggle="collapse">
								<span class="me-2">
									<i class="bi bi-star-fill"></i>
								</span>
								<span>Ranking</span>
							</a>
						</li>

						<!-- 4o elemento -->
						<li>
							<a
								th:href="@{/companies}"
								class="nav-link px-3 sidebar-link text-white"
								data-bs-toggle="collapse">
								<span class="me-2">
									<i class="bi bi-building"></i>
								</span>
								<span>Companies</span>
							</a>
						</li>

						<!-- 5o elemento -->
						<li>
							<a
								href="#associate"
								class="nav-link px-3 sidebar-link text-white"
								data-bs-toggle="collapse">
								<span class="me-2">
									<i class="bi bi-person-fill"></i>
								</span>
								<span>Profile</span>
								<span class="ms-auto">
									<span class="right-icon">
										<i class="bi bi-chevron-down"></i>
									</span>
								</span>
							</a>

							<div
								class="collapse"
								id="associate"
								th:classappend="${option == 'associate'} ? 'show' : ''">
								<ul class="navbar-nav ps-3">
									<li>
										<a
											th:href="@{/associates/save}"
											class="nav-link px-3">
											<span class="me-2">
												<i
													class="bi bi-plus-square text-white"></i>
											</span>
											<span class="text-white"
												>Register</span
											>
										</a>
									</li>
									<li>
										<a
											th:href="@{/associates/opensearch}"
											class="nav-link px-3">
											<span class="me-2">
												<i
													class="bi bi-search text-white"></i>
											</span>
											<span class="text-white"
												>Search</span
											>
										</a>
									</li>
								</ul>
							</div>
						</li>

						<!-- 5o elemento -->
					</ul>
				</nav>
			</div>
		</div>
		<!-- !offcanvas sidebar -->
	</body>
</html>
