<!DOCTYPE html>
<html layout:decorate="~{layout/default}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login</title>
</head>

<body>
    <div layout:fragment="content">

        <main class="mt-5 p-4 pt-5">
            <div class="container">

                <div class="mt-5">
                    <p>john / 123 / USER</p>
                    <p>ped / 123 / COMPANY</p>
                    <p>rangel / 123 / ADMIN</p>
                </div>

                <div class="my-4">
                    <div th:if="${param.error}" class="alert alert-danger" role="alert">
                        Invalid username and/or password.
                    </div>
                    <div th:if="${param.logout}" class="alert alert-danger" role="alert">
                        You have been logged out.
                    </div>
                </div>

                <form th:action="@{/login}" method="post">

                    <div class="form-group mt-4">
                        <label for="username">Associate:</label>
                        <input type="text" id="username" name="username" autofocus="autofocus"
                            class="form-control">
                    </div>

                    <div class="form-group mt-4">
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" class="form-control">
                    </div>

                    <button type="submit" class="btn btn-primary mt-4">Logar</button>
                </form>
            </div>
        </main>

    </div>

</body>

</html>
