<!DOCTYPE html>
<html layout:decorate="~{layout/default}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Proto - Profile</title>
</head>

<body>
    <div layout:fragment="content" class="container">
        <h1>Welcome to your Profile</h1>

        <div>
            <p><strong>Name:</strong> <span th:text="${associate.name}"></span></p>
            <p><strong>Email:</strong> <span th:text="${associate.email}"></span></p>
            <p><strong>Login:</strong> <span th:text="${associate.login}"></span></p>
            <p><strong>Role:</strong> <span th:text="${associate.role}"></span></p>
            <ul class="list-group">
                <strong>Interests:</strong>
                <li th:each="interest : ${associate.interests}" class="list-group-item"
                    th:text="${interest}"></li>
            </ul>

            <h2 class="mt-3">Your Projects</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th class="">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="project : ${projects}">
                        <td><span th:text="${project.name}"></span></td>
                        <td><span th:text="${project.description}"></span></td>
                        <td>
                            <a th:href="@{profile/projects/{id}(id=${project.id})}" class="btn btn-primary">View</a>

                            <a th:href="@{profile/projects/{id}/edit(id=${project.id})}"
                                class="btn btn-secondary">Edit</a>

                            <form th:action="@{/projects/{id}(id=${project.id})}" method="post" class="d-inline">
                                <input type="hidden" name="_method" value="DELETE" />
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>

            <form th:action="@{/profile/newproject}" method="get">
                <input type="hidden" th:name="login" th:value="${#authentication.principal.username}" />
                <button type="submit" class="btn btn-success">Novo Projeto</button>
            </form>
            
        </div>
    </div>
</body>

</html>